/XUnitCompleteExample.Identity/bin/
/XUnitCompleteExample.Identity/obj/
/XUnitCompleteExample.WebAPIExample/bin/
/XUnitCompleteExample.WebAPIExample/obj/
/XUnitCompleteExample.Test/bin/
/XUnitCompleteExample.Test/obj/
.idea/